header{
    background-color: aqua;
    align-items: center;
}

body{
    text-align: center;
}

nav{
    background-color: rgb(100, 149, 237);
    align-items: center;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }