header{   align-items: center;
}

body{
    background-color: rgba(0, 179, 255, 0.927);
    text-align: center;
}

nav{
    background-color: cornflowerblue;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }